body{
    background-color: rgb(162, 255, 162);
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }

h1{
    text-align: center;
    color: red;
}

h2{
    color: aquamarine;
}